<!-- using from group for the whole form and form-control for each input -->
<!-- ngModel + name attribute, angular create formControl class, current example is template driven -->
<!-- #f template variable -->
<!-- formControl <- ngModel represent one input, fromGroup <- ngForm/ngModelGroup represents a group of fields -->
<form ngFormm #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">...</div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <!-- #firstName is a template variable -->
      <input
        minlength="3"
        maxlength="10"
        pattern=""
        required
        ngModel
        name="firstName"
        #firstName="ngModel"
        (change)="log(firstName)"
        id="firstName"
        type="text"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="firstName.touched && !firstName.valid"
      >
        <div *ngIf="firstName.errors.required">
          First Name is required
        </div>
        <div *ngIf="firstName.errors.minlength">
          First Name should be minimum
          {{ firstName.errors.minlength.requiredLength }} characters
        </div>
        <div *ngIf="firstName.errors.pattern">
          First Name does't match the pattern
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea
        ngModel
        name="comment"
        id="comment"
        cols="30"
        rows="10"
        class="form-control"
      ></textarea>
    </div>
    <div class="checkbox">
      <label for="">
        <input type="checkbox" ngModel name="isSubscribed" /> Subscribe to
        mailing list
      </label>
    </div>
    <div class="form-group">
      <label for="contactMethod"> </label>
      <select
        multiple
        id="contactMethod"
        ngModel
        name="contactMethod"
        class="form-control"
      >
        <option value=""></option>
        <option *ngFor="let method of contactMethods" [ngValue]="method">{{
          method.name
        }}</option>
      </select>
    </div>
    <div *ngFor="let method of contactMethods" class="radio">
      <label for=""
        ><input ngModel type="radio" name="contactMethod" [value]="method.id" />
        {{ method.name }}
      </label>
    </div>

    <p>
      {{ f.value | json }}
    </p>
    <!-- disable button if invalid -->
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
  </div>
</form>
